html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  background-color: #151515;
}

.header-main {
  /* background-color: transparent; */
}

.container  {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__inner {
  padding-top: 40px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu__list {
  display: flex;
  gap: 35px;
}

.menu__list-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}